:root{
  --color-01: #F5F5F5;
  --color-02: #FAFAFA;
  --color-03: #FAFAFA;
  --color-04: #231F20;
  --color-05: #FF0A6B;
}


html {  
  font-size: 62.5%;
}

body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

.wrapper{
  padding: 1.2rem 2.4rem;
}


.c-news{
  position: relative;  
}

.c-news__tagsbox{
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1.5rem 1.5rem 0 1.5rem;
}

.c-news__taglink{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.8rem;
  border-radius: 2rem;
}


.c-news__tagtext{
  color: var(--color-02); 
  font-size: .8rem;
  line-height: 1rem;
  letter-spacing: 0.01em;
}

.c-news__taglink--category{
  background: var(--color-04);
  text-transform: uppercase;
  min-width: 6.6rem;
}

.c-news__taglink--share{
  background: var(--color-05);
  text-transform:capitalize;
  min-width: 8.5rem;
  column-gap: .4rem;
}

.c-news__figure{
  position: relative;
  width: 100%;
}

.c-news__image{  
  width: 100%;
  height: 100%;
  display: block;
}

.c-news__figcaption{
  position: absolute;
  z-index: 1;
  bottom: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  width: 100%;
  height: 60%;
  border-radius: 1.5rem;
  background-color:rgba(35, 31, 32, 0.25);
}

.c-news__figcaptioncategorytitle{
  margin-bottom: .5rem;
}

.c-news__figcaptioncategorytitle:before{
  display: inline-block;
  width: 0.6rem;
  height: 0.6rem;
  content: '';
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin-right: 0.5rem;
  background-color: var(--color-05);
}

.c-news__figcaptioncategorytext{
  position: relative;
  left: -.4rem;
  font-size: 1rem;
  line-height: 1.2rem;
  letter-spacing: 0.01em;
  text-transform: uppercase;
}

.c-news__figcaptionnewstext{
  letter-spacing: -0.01em;
}

.c-news__figcaptioncategorytext,
.c-news__figcaptionnewstext{
  color: var(--color-02);
}



/*C-NEWS--MAIN*/
.c-news--main .c-news__figcaption{
  height: 45.95%;
  padding: 0 2.5rem 2.9rem 2.5rem;
  background: linear-gradient(90deg, rgba(35, 31, 32, 0) 0%, rgba(35, 31, 32, 0.701961) 55.64%, #231F20 100%);
  border-radius: 0;;
}

.c-news--main .c-news__figcaptioncategorytext{
  color: var(--color-03);
}

.c-news--main .c-news__figcaptionnewstext{
  font-size: 2.4rem;
  line-height: 2.8rem;
  text-shadow: 0 .3rem .3rem rgba(0, 0, 0, 0.160784);
}



/*C-NEWS--SQUARE*/
.c-news .c-news--square{
  max-width: 31.2rem;
  height: auto;
}

.c-news--square .c-news__figcaption{
  padding: 0 1.5rem 2rem 1.5rem;
}

.c-news--square .c-news__figcaptionnewstext{
  font-size: 1.6rem;
  line-height: 2rem;
}



/*C-NEWS--SERIES*/
.c-news--series .c-news__figcaption{
  padding: 0 1.5rem 2rem 1.5rem;
}

.c-news--series .c-news__figcaptioncategorytitle{
  opacity: .8;
}

.c-news--series .c-news__figcaptionnewstext{
  font-size: 1.6rem;
  line-height: 2rem;
}
