:root{  
  --color-01: #F5F5F5;
  --color-02: #231F20;
  --color-03: #FF0A6B;
  --color-04: #FFFFFF;
  --color-05: #FAFAFA;
  --color-06: #F3F3F3;
  --color-07: #E9E9E9;
  --color-08: #E5E5E5;
  --color-09: #A0A0A0;  
  --color-10: #767676;  
  --color-11: #726F73;
  --color-12: #707070;
  --color-13: #5F5961;
  --color-14: #5D5D5D;
  --color-15: #343A40;
  --color-16: #000000;
  --color-17: #19191A;
  --color-18: #D6B016;
  --color-19: #F6650C;
  --color-20: #F9F9F9;
  --color-21: #929093;
  --color-22: #C4C4C4;
  --color-23: #707070; 


  --font-group-0810: normal normal 400 .8rem/1rem Inter, sans-serif;
  --font-group-0911: normal normal 400 .9rem/1.1rem Inter, sans-serif;
  --font-group-1012: normal normal 400 1rem/1.2rem Inter, sans-serif;
  --font-group-1113: normal normal 400 1.1rem/1.3rem Inter, sans-serif;
  --font-group-1215: normal normal 400 1.2rem/1.5rem Inter, sans-serif;
  --font-group-1216: normal normal 400 1.2rem/1.6rem Inter, sans-serif;
  --font-group-1416: normal normal 400 1.4rem/1.6rem Inter, sans-serif;
  --font-group-1417: normal normal 400 1.4rem/1.7rem Inter, sans-serif;
  --font-group-1418: normal normal 400 1.4rem/1.8rem Inter, sans-serif;
  --font-group-1620: normal normal 400 1.6rem/2rem Inter, sans-serif;
  --font-group-1622: normal normal 400 1.6rem/2.2rem Inter, sans-serif;
  --font-group-2428: normal normal 400 2.4rem/2.8rem Inter, sans-serif;
  --font-group-3137: normal normal 900 3.1rem/3.7rem Barlow, sans-serif;
  --font-group-5050: normal normal 400 5rem/5rem Inter, sans-serif;  
  
  --letter-spacing-m1: -0.01em;
  --letter-spacing-m5: -0.005em;
  --letter-spacing-00: 0em;
  --letter-spacing-01: 0.01em;
  --letter-spacing-02: 0.02em;
  --letter-spacing-03: 0.03em;

  --text-transform-01: uppercase;
  --text-transform-02: capitalize;

  --carousel-navdots-


  /*HEADER DEFAULT*/
  --header-links-font: var(--font-group-1113);
  --header-links-letter: var(--letter-spacing-m5);


  /*HEADER TOP*/
  --header-top-links-color: var(--color-02);
  --header-top-links-bg: var(--color-04);
  --header-top-links-radius: var(--border-radius-23);
  --header-top-links-shadow: 0rem .5rem .75rem rgba(0, 0, 0, 0.0509804);


  /*HEADER BOTTOM CAROUSEL MENU*/
  --header-carousel-menu-links-color: var(--color-11);
  --header-carousel-menu-links-opacity: var(--opacity-90);
  --header-carousel-menu-links-gap: 2.7em;  

  --header-carousel-menu-links-color-active: var(--color-02);
  --header-carousel-menu-links-opacity-active: var(--opacity-100);
  --header-carousel-menu-links-border-active: .3rem solid var(--color-03);



  /*CELEBRITY CAROUSEL*/
  --celebrity-carousel-border: .15rem solid var(--color-01);
  --celebrity-carousel-radius: var(--border-radius-50);
  --celebrity-carousel-links-font: var(--font-group-0911);  
  --celebrity-carousel-links-letter: var(--letter-spacing-m5);
  --celebrity-carousel-links-color: var(--color-13);
  --celebrity-carousel-links-gap: 1.2rem;  

  --celebrity-carousel-border-active: .15rem solid var(--color-03);
  --celebrity-carousel-radius-active: var(--border-radius-50);
  --celebrity-carousel-links-color-active: var(--color-02);
  
  
  /*NEWS DEFAULT*/
  --news-tags-padding: 1.5rem 1.5rem 0 1.5rem;
  --news-tags-font: var(--font-group-07);
  --news-tags-letter: var(--letter-spacing-01);
  --news-tags-color: var(--color-05);

  --news-tag-category-bg: var(--color-02);
  --news-tag-category-tt: var(--text-transform-01);

  --news-tag-esportes-bg: var(--color-02);
  --news-tag-esportes-border: .07rem solid var(--color-04);
  --news-tag-esportes-tt: var(--text-transform-01);

  --news-tag-share-bg: var(--color-03); 
  --news-tag-share-tt: var(--text-transform-02);

  --news-masktexts-padding: 0 1.5rem 2.3rem 1.5rem;
  
  --news-categorynews-font: var(--font-group-1012);
  --news-categorynews-letter: var(--letter-spacing-01);
  --news-categorynews-tt: var(--text-transform-01);
  --news-categorynews-color: var(--color-05);
  --news-categorynews-opacity: var(--opacity-80);

  --newsdefault-titlenews-font: var(--font-group-1620);
  --newsdefault-titlenews-letter: var(--letter-spacing-m1);
  --newsdefault-titlenews-color: var(--color-05);


  /*NEWS MAIN*/
  --newsmain-tags-padding: 1.5rem 2.4rem 0 2.4rem;

  --newsmain-masktexts-bg: var(--gradient-news-main);
  --newsmain-masktexts-padding: 0 2.5rem 2.9rem 2.5rem;

  --newsmain-categorynews-color: var(--color-04);
  --newsmain-categorynews-opacity: var(--opacity-100);

  --newsmain-titlenews-font: var(--font-group-2428);
  --newsmain-titlenews-letter: var(--letter-spacing-m1);


  /*NEWS SQUARE*/
  --newssquare-masktexts-bg: var(--gradient-news-square);


  /*NEWS SERIES*/
  --newsseries-masktexts-bg: var(--gradient-news-series);

  /*NEWS COPA 2022*/
  --newscopa-masktexts-bg: var(--gradient-news-copa-2022); 


  /*NEWS VIDEOS*/
  --newsvideos-titlevideo-font: var(--font-group-1620);
  --newsvideos-titlevideo-color: var(--color-05);
  --newsvideos-titlevideo-letter: var(--letter-spacing-m1);


  --newsvideos-main-masktexts-bg: var(--gradient-news-videos);
  --newsvideos-main-masktexts-padding: 0 2rem 2.3rem 2rem;

  --newsvideos-main-titlevideo-font: var(--font-group-1620);
  --newsvideos-main-titlevideo-letter: var(--letter-spacing-m1);  


  





  /*NEWS GROUP DEFAULT*/
  --ng-titlenews-color: var(--color-02);

  --ng-viewall-font: var(--font-group-1215);
  --ng-viewall-letter: var(--letter-spacing-00);
  --ng-viewall-color: var(--color-03);
  --ng-viewall-bg: var(--color-01);
  --ng-viewall-border: var(--color-03);
  --ng-viewall-shadow: 0 .5rem .75rem 0 var(--color-03);


  /*NEWS GROUP ORA BOLAS*/
  --ngorabolas-categorynews-font: var(--font-group1012);
  --ngorabolas-categorynews-letter: var(--letter-spacing-03);
  --ngorabolas-categorynews-color: var(--color-03);

  --ngorabolas-titlenews-font: var(--font-group-1416);
  --ngorabolas-titlenews-letter: var(--letter-spacing-m1);

 /*NEWS GROUP CATEGORY*/
  --ngcategory-categorynews-font: var(--font-group-0810);
  --ngcategory-categorynews-letter: var(--letter-spacing-01);
  --ngcategory-categorynews-color: var(--color-03);
  --ngcategory-categorynews-border: .1rem solid var(--color-03);

  --ngcategory-titlenews-font: var(--font-group-1418);
  --ngcategory-titlenews-letter: var(--letter-spacing-m1);

  /*NEWS GROUP COLUNAS*/
  --ngcolunas-columnname-font: var(--font-group-1620);
  --ngcolunas-columnname-letter: var(--letter-spacing-00);
  --ngcolunas-columnname-color: var(--color-02);

  --ngcolunas-titlenews-font: var(--font-group-1216);
  --ngcolunas-titlenews-letter: var(--letter-spacing-00);

  /*NEWS GROUP MAIS LIDAS*/
  --ngmaislidas-bg-color: var(--color-04);
  --ngmaislidas-bg-border: .1rem solid var(var(--color-20))
  --ngmaislidas-bg-shadow: 0 .5rem .75rem 0 var(--color-16);
  --ngmaislidas-titlesection-letter: var(--letter-spacing-m1);

  --ngmaislidas-titlesection-font: var(--font-group-1620);
  --ngmaislidas-titlesection-tt: var(--text-transform-01);

  --ngmaislidas-chartnumber-font: var(--font-group-3137);
  --ngmaislidas-chartnumber-letter: var(--letter-spacing-02);
  --ngmaislidas-chartnumber-tt: var(--text-transform-01);
  --ngmaislidas-chartnumber-color: var(--color-03);
  --ngmaislidas-chartnumber-bg: var(--color-06);  

  --ngmaislidas-titlenews-font: var(--font-group-1418);
  --ngmaislidas-titlenews-letter: var(--letter-spacing-00);





  /*VIDEOS ORBI TV*/
  --orbitv-bg: var(--color-17);

  --orbitv-tags-height: 2.6rem;
  --orbitv-tags-font: var(--font-group-1012);
  --orbitv-tags-letter: var(--letter-spacing-01);
  --orbitv-tags-tt: var(--text-transform-01);
  --orbitv-tags-radius: var(--border-radius-20); 

  --orbitv-tag-video-width: 6.4rem;
  --orbitv-tag-video-color: var(--color-04);
  --orbitv-tag-video-bg: var(--color-03);
  --orbitv-tag-video-border: .1rem solid var(--color-03);

  --orbitv-tag-shorts-width: 6.7rem;
  --orbitv-tag-shorts-color: var(--color-23);
  --orbitv-tag-shorts-bg: var(--color-17);
  --orbitv-tag-shorts-border: .1rem solid var(--color-11);


  --orbitv-titlenews-font: var(--font-group-1622);
  --orbitv-titlenews-letter: var(--letter-spacing-00);
  --orbitv-titlenews-color: var(--color-04);

  --orbitv-nav-bg: var(--color-17);
  --orbitv-nav-bg-border: .2rem solid var(--color-08);
  --orbitv-navactive-bg: var(--color-08);
  --orbitv-navactive-bg-border: .2rem solid var(--color-08);

  --orbitv-socialmedia-font: var(--font-group-1215);
  --orbitv-socialmedia-letter: var(--letter-spacing-01);
  --orbitv-socialmedia-color: var(--color-05);


    /*VIDEOS VIDEOS*/
    --videos-bg: var(--color-03);

    --videos-carousel-menu-links-font: var(--font-group-1113);
    --videos-carousel-menu-links-letter: var(--letter-spacing-m5);
    --videos-carousel-menu-links-color: var(--color-04);
    --videos-carousel-menu-links-opacity: var(--opacity-90);
    --videos-carousel-menu-links-gap: 2.7em;  

    --videos-carousel-menu-links-color-active: var(--color-04);
    --videos-carousel-menu-links-opacity-active: var(--opacity-100);
    --videos-carousel-menu-links-border-active: .3rem solid var(--color-04);

    --videos-titlerelacionados-font: var(--font-group-1220);
    --videos-titlerelacionados-letter: var(--letter-spacing-m1);
    --videos-titlerelacionados-tt: var(--text-transform-01);
    --videos-titlerelacionados-color: var(--color-04);









    --orbitv-tags-height: 2.6rem;
    --orbitv-tags-font: var(--font-group-1012);
    --orbitv-tags-letter: var(--letter-spacing-01);
    --orbitv-tags-tt: var(--text-transform-01);
    --orbitv-tags-radius: var(--border-radius-20); 
  
    --orbitv-tag-video-width: 6.4rem;
    --orbitv-tag-video-color: var(--color-04);
    --orbitv-tag-video-bg: var(--color-03);
    --orbitv-tag-video-border: .1rem solid var(--color-03);
  
    --orbitv-tag-shorts-width: 6.7rem;
    --orbitv-tag-shorts-color: var(--color-23);
    --orbitv-tag-shorts-bg: var(--color-17);
    --orbitv-tag-shorts-border: .1rem solid var(--color-11);
  
  
    --orbitv-titlenews-font: var(--font-group-1622);
    --orbitv-titlenews-letter: var(--letter-spacing-00);
    --orbitv-titlenews-color: var(--color-04);
  
    --orbitv-nav-bg: var(--color-17);
    --orbitv-nav-bg-border: .2rem solid var(--color-08);
    --orbitv-navactive-bg: var(--color-08);
    --orbitv-navactive-bg-border: .2rem solid var(--color-08);
  
    --orbitv-socialmedia-font: var(--font-group-1215);
    --orbitv-socialmedia-letter: var(--letter-spacing-01);
    --orbitv-socialmedia-color: var(--color-05);

/*UTILITY*/
  --utility-bg: var(--color-04);
  --utility-shadow: box-shadow: 0 .5rem .75rem 0 var(--color-16);
  --utility-padding: 1.9rem 0 0 1.8rem;
  --utility-titlesection-font: var(--font-group-1215);
  --utility-titlesection-letter: var(--letter-spacing-01);
  --utility-titlesection-color: var(--color-02);
  --utility-infos-font: var(--font-group-1012);     
  --utility-infos-letter: var(--letter-spacing-m1);
  --utility-infos-color: var(--color-21);
  --utility-infos-opacity: var(--opacity-75);
  --utility-temperaturestatus-font: var(--font-group-1012);
  --utility-temperaturestatus-letter: var(--letter-spacing-m1);
  --utility-temperaturestatus-color: var(--color-18);
  --utility-temperaturedegrees-font: var(--font-group-5050);
  --utility-temperaturedegrees-letter: var(--letter-spacing-m5);
  --utility-temperaturedegrees-color: var(--color-02);
  --utility-lotomania-number-bg: var(--color-19);
  --utility-lotomania-number-font: var(--font-group-1417);
  --utility-lotomania-number-letter: var(--letter-spacing-m1);
  --utility-lotomania-number-color: var(--color-04);
  --utility-lotomania-nav-bg: var(--color-04);
  --utility-lotomania-nav-bg-border: .1rem solid var(--color-22);
  --utility-lotomania-navactive-bg: var(--color-19);
  --utility-lotomania-navactive-bg-border: .1rem solid var(--color-19);
  --utility-horoscopename-font: var(--font-group-1215);
  --utility-horoscopename-letter: var(--letter-spacing-01);
  --utility-horoscopename-tt: uppercase;
  --utility-horoscopename-color: var(--color-02);
  --utility-horoscopelink-font: var(--font-group-1012);     
  --utility-horoscopelink-letter: var(--letter-spacing-m1);
  --utility-horoscopelink-color: var(--color-02);
  --utility-horoscopelink-opacity: var(--opacity-75);







  /*VIDEOS*/
  --videos-bg: var(--color-03); 

  --videos-carousel-menu-links-font: var(--font-group-1113);
  --videos-carousel-menu-links-letter: var(--letter-spacing-m1);
  --videos-carousel-menu-links-color: var(--color-04);


  --orbitv-tag-video-width: 6.4rem;
  --orbitv-tag-video-color: var(--color-04);
  --orbitv-tag-video-bg: var(--color-03);
  --orbitv-tag-video-border: .1rem solid var(--color-03);

  --orbitv-tag-shorts-width: 6.7rem;
  --orbitv-tag-shorts-color: var(--color-23);
  --orbitv-tag-shorts-bg: var(--color-17);
  --orbitv-tag-shorts-border: .1rem solid var(--color-11);


  --orbitv-titlenews-font: var(--font-group-1622);
  --orbitv-titlenews-letter: var(--letter-spacing-00);
  --orbitv-titlenews-color: var(--color-04);

  --orbitv-nav-bg: var(--color-17);
  --orbitv-nav-bg-border: .2rem solid var(--color-08);
  --orbitv-navactive-bg: var(--color-08);
  --orbitv-navactive-bg-border: .2rem solid var(--color-08);

  --orbitv-socialmedia-font: var(--font-group-1215);
  --orbitv-socialmedia-letter: var(--letter-spacing-01);
  --orbitv-socialmedia-color: var(--color-05);











  --utility-shadow: box-shadow: 0 .5rem .75rem 0 var(--color-16);
  --utility-padding: 1.9rem 0 0 1.8rem;
  --utility-titlesection-font: var(--font-group-1215);
  --utility-titlesection-letter: var(--letter-spacing-01);
  --utility-titlesection-color: var(--color-02);
  --utility-infos-font: var(--font-group-1012);     
  --utility-infos-letter: var(--letter-spacing-m1);
  --utility-infos-color: var(--color-21);
  --utility-infos-opacity: var(--opacity-75);
  --utility-temperaturestatus-font: var(--font-group-1012);
  --utility-temperaturestatus-letter: var(--letter-spacing-m1);
  --utility-temperaturestatus-color: var(--color-18);
  --utility-temperaturedegrees-font: var(--font-group-5050);
  --utility-temperaturedegrees-letter: var(--letter-spacing-m5);
  --utility-temperaturedegrees-color: var(--color-02);
  --utility-lotomania-number-bg: var(--color-19);
  --utility-lotomania-number-font: var(--font-group-1417);
  --utility-lotomania-number-letter: var(--letter-spacing-m1);
  --utility-lotomania-number-color: var(--color-04);
  --utility-lotomania-nav-bg: var(--color-04);
  --utility-lotomania-nav-bg-border: .1rem solid var(--color-22);
  --utility-lotomania-navactive-bg: var(--color-19);
  --utility-lotomania-nav-bg-border: .1rem solid var(--color-19);
  --utility-horoscopename-font: var(--font-group-1215);
  --utility-horoscopename-letter: var(--letter-spacing-01);
  --utility-horoscopename-tt: uppercase;
  --utility-horoscopename-color: var(--color-02);
  --utility-horoscopelink-font: var(--font-group-1012);     
  --utility-horoscopelink-letter: var(--letter-spacing-m1);
  --utility-horoscopelink-color: var(--color-02);
  --utility-horoscopelink-opacity: var(--opacity-75);
  
  --gradient-news-main: linear-gradient(90deg, rgba(35, 31, 32, 0) 0%, rgba(35, 31, 32, 0.701961) 55.64%, #231F20 100%);
  --gradient-news-square: linear-gradient(90deg, rgba(35, 31, 32, 0) 0%, rgba(35, 31, 32, 0.701961) 67.34%, #231F20 100%);
  --gradient-news-series: linear-gradient(90deg, rgba(35, 31, 32, 0) 0%, rgba(35, 31, 32, 0.901961) 100%);
  --gradient-news-copa-2022: linear-gradient(90deg, rgba(35, 31, 32, 0) 0%, rgba(35, 31, 32, 0.701961) 55.64%, #231F20 100%);
  --gradient-news-orbi-tv: linear-gradient(90deg, rgba(35, 31, 32, 0) 0%, rgba(35, 31, 32, 0.94902) 100%);
  --gradient-news-videos-main: linear-gradient(90deg, rgba(35, 31, 32, 0) 0%, rgba(35, 31, 32, 0.901961) 100%);
  --gradient-news-videos: linear-gradient(90deg, rgba(35, 31, 32, 0) 0%, rgba(35, 31, 32, 0.94902) 100%);

  --bg-gradient-01: linear-gradient(270deg, #534A99 -0.01%, #FF0A6B 100%);
  --bg-color-01: #F5F5F5;
  --bg-color-02: #19191A;
  --bg-color-03: #FF0A6B;
  --bg-color-04: #FFFFFF;

  --bg-tag-category: #231F20;
  --bg-tag-share: #FF0A6B;

  --bg-element-02: #F6650C
  --bg-: #F3F3F3
  --bg-lotomania: #F6650C


  --font-family-01: 'Inter', sans-serif;
  --font-family-02: 'Barlow', sans-serif;

  --font-weight-01: 400;
  --font-weight-02: 900;

  --font-size-07: .7rem;
  --font-size-08: .8rem;
  --font-size-09: .9rem;
  --font-size-10: 1rem;
  --font-size-11: 1.1rem;
  --font-size-12: 1.2rem;
  --font-size-13: 1.3rem;
  --font-size-14: 1.4rem;
  --font-size-15: 1.5rem;
  --font-size-16: 1.6rem;
  --font-size-17: 1.7rem;
  --font-size-18: 1.8rem;
  --font-size-20: 2rem;
  --font-size-22: 2.2rem;
  --font-size-24: 2.4rem;
  --font-size-26: 2.6rem;  
  --font-size-28: 2.8rem;
  --font-size-30: 3rem; 
  --font-size-31: 3.1rem;
  --font-size-44: 4.4rem;
  --font-size-50: 5rem;

  --line-height-10: 1rem;
  --line-height-11: 1.1rem;
  --line-height-12: 1.2rem;
  --line-height-13: 1.3rem;
  --line-height-14: 1.4rem;
  --line-height-14: 1.5rem;
  --line-height-16: 1.6rem;
  --line-height-18: 1.8rem;
  --line-height-20: 2rem;
  --line-height-22: 2.2rem;
  --line-height-28: 2.8rem;


  
  --border-radius-10: 1rem;
  --border-radius-15: 1.5rem;
  --border-radius-20: 2rem;
  --border-radius-23: 2.3rem;
  --border-radius-50: 50%;

  --space-04: .4rem;  
  --space-05: .5rem;
  --space-06: .6rem;
  --space-09: .9rem;
  --space-10: 1rem;
  --space-11: 1.1rem;
  --space-12: 1.2rem;
  --space-14: 1.4rem;
  --space-15: 1.5rem;
  --space-16: 1.6rem;
  --space-18: 1.8rem;
  --space-19: 1.9rem;
  --space-20: 2rem;
  --space-22: 2.1rem;
  --space-22: 2.2rem;
  --space-23: 2.3rem;
  --space-24: 2.4rem;
  --space-25: 2.5rem;
  --space-28: 2.8rem;
  --space-33: 3.3rem;
  --space-36: 3.6rem;
  --space-37: 3.7rem;
  --space-38: 3.8rem;
  --space-39: 3.9rem;
  --space-40: 4rem;
  --space-41: 4.1rem;
  --space-42: 4.2rem;
  --space-50: 5rem;
  --space-54: 5.4rem;
  --space-75: 7.5rem;

  --opacity-75: .75;
  --opacity-80: .8;
  --opacity-90: .9;
  --opacity-100: 1;
}
